* {
  box-sizing: border-box;
}
body {
  background-color: darkgray;
}
.App {
  margin: 20px auto;
  border-radius: 12px;
  text-align: center;
  width: 450px;
  background: antiquewhite;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
h2 {
  margin: 0;
}
.App input {
  margin: 20px;
  font-size: 20px;
  width: 80%;
}
.task {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 80%;
  align-items: center;
  margin-bottom: 20px;
}
.task.done {
  background-color: #68ff52;
  border-radius: 12px;
}
.task.done::before {
  content: "";
  position: absolute;
  width: 100%;
  height: auto;
}
